/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2e4d9;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.auth-card {
  background-color: #fef6f0;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.auth-card:hover {
  transform: scale(1.03);
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #b8472b;
  margin-bottom: 20px;
}

.icon-section img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: 48%;
  background-color: #f5d7c5;
  color: #b8472b;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn.active {
  background-color: #d77a4f;
  color: #ffffff;
}

.btn:hover {
  background-color: #ffeddc;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.auth-form input,
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.auth-form input:focus,
select:focus {
  border-color: #d77a4f;
  outline: none;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  flex: 1;
}

.toggle-password {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: #ccc;
}

.toggle-password:hover {
  color: #d77a4f;
}

.sign-up-btn {
  background-color: #d77a4f;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 25%;
}

.sign-up-btn:hover {
  background-color: #bf6240;
}

.auth-socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-btn:hover {
  background-color: #f3f3f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn {
  border-color: #4285f4;
  margin-top: 10px;
}

.apple-btn {
  border-color: #000000;
}

@media (max-width: 480px) {
  .auth-card {
    padding: 20px;
  }

  .btn {
    font-size: 13px;
  }

  .auth-form input,
  select {
    font-size: 13px;
  }

  .sign-up-btn {
    font-size: 14px;
  }
}

.sign-in-btn {
  background-color: #d77a4f;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 25%;
}

.forgot-password a {
  margin: 15px;
}
