/* NGODetailsPage.css */

.ngo-details-container {
  
  font-family: Arial, sans-serif;
  height: 100%;
  max-height: 100%;
  background-color: #f4dcc8;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  align-items: center;
  
  
}
.ngo-details-page {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

.ngo-details-container h1 {
  font-size: 35px;
  font-weight: bold;
  color: #a55e3b;
  margin-bottom: 20px;
}

.ngo-details-card {
  background-color: #f7e7d0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width:60%;
  margin-left:20%;
  text-align: justify;
  font-size:22px;
  
}

.ngo-card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #003366;
  margin-bottom: 10px;
}

.ngo-card p {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.ngo-card strong {
  color: #003366;
}

